{% load sekizai_tags %}

<div id="jp_container_1" class="jp-video jp-video-270p">
	<div class="jp-type-playlist">
		<div id="jquery_jplayer_1" class="jp-jplayer"></div>
		<div class="jp-gui">
			<div class="jp-interface">
				<div class="jp-progress">
					<div class="jp-seek-bar">
						<div class="jp-play-bar"></div>
					</div>
				</div>
				<div class="jp-current-time"></div>
				<div class="jp-duration"></div>
				<div class="jp-controls-holder">
					<ul class="jp-controls">
						<li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
						<li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
						<li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
						<li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
						<li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
						<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
						<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
						<li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
					</ul>
					<div class="jp-volume-bar">
						<div class="jp-volume-bar-value"></div>
					</div>
					<ul class="jp-toggles">
						<li><a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a></li>
						<li><a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen">restore screen</a></li>
						<li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
						<li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
						<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
						<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
					</ul>
				</div>
				<div class="jp-title">
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="jp-playlist">
			<ul>
				<!-- The method Playlist.displayPlaylist() uses this unordered list -->
				<li></li>
			</ul>
		</div>
		<div class="jp-no-solution">
			<span>Uppfærslu er þörf</span>
			Til þess að geta spilað hljóðið þarftu annaðhvort að uppfæra vafrann eða <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash spilarann</a>.
		</div>
	</div>
</div>


{% addtoblock "css" %}
<link rel="stylesheet" href="{{ STATIC_URL }}lhi/css/blue.monday/jplayer.blue.monday.css">
{% endaddtoblock %}

{% addtoblock "js" %}
	<script src="{{ STATIC_URL }}lhi/js/jQuery.jPlayer.2.1.0/jquery.jplayer.min.js"></script>
	<script src="{{ STATIC_URL }}lhi/js/jQuery.jPlayer.2.1.0/add-on/jplayer.playlist.min.js"></script>
	<script>
		$(document).ready(function(){
			new jPlayerPlaylist({
				jPlayer: "#jquery_jplayer_1",
				cssSelectorAncestor: "#jp_container_1"
			},
			[
				{% for item in audioplayer.items %}
					{
						title: "{{ item.audio.label }}",
						artist: "",
						mp3: "{{ MEDIA_URL }}{{ item.audio.file }}"
					}
					{% if not forloop.last %}
						,
					{% endif %}
				{% endfor %}
				], {
					swfPath: "{{ STATIC_URL }}lhi/js/jQuery.jPlayer.2.1.0",
					supplied: "mp3"
				}
			);
		});
	</script>
{% endaddtoblock %}
